.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 80px;
    margin: 50px auto 0 auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
}

.header-container .perfil-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 12px 0 7px;
}

.header-container h4 {
    /* margin-right: auto; */
    font-size: 0.95rem;
    font-weight: 600;
}

.perfil-name-container {
    margin-right: auto;
}

.perfil-name-container .perfil-title {
    font-weight: 400;
    font-size: 0.85rem;
}

.menu-header {
    width: 27px;
    /* border-radius: 50px; */
    margin: 0 5px 0 9px;
    transform: rotate(90deg);
}