* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}



.caption-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 6px;
    cursor: pointer;
}

.caption {
    display: flex;
}

.caption span {
    margin-left: 10px;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}